@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* section 1 */

@keyframes toStaticCenter {
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes toStatic {
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

@keyframes capsule {
  to {
    opacity: 1;
    transform: rotate(-16deg) translate(0, -50%);
  }
}

@keyframes fadeOutDown {
  to {
    transform: translate(0, 50px);
    opacity: 0;
  }
}

@keyframes ticker {
  to {
    transform: translate3d(-3000px, 0, 0);
  }
}

@keyframes circleWave1 {
  50% {
    stroke-opacity: 0;
  }

  100% {
    stroke-opacity: 1;
  }
}

@keyframes circleWave2 {
  50% {
    stroke-opacity: 0;
  }

  100% {
    stroke-opacity: 0.5;
  }
}

@keyframes circleWave3 {
  50% {
    stroke-opacity: 0;
  }

  100% {
    stroke-opacity: 0.2;
  }
}

@keyframes stroke {
  to {
    stroke-opacity: 1;
    stroke-dasharray: 250;
  }
}

@keyframes capsuleLines {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes capsuleLinesOut {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes fadeOutVideo {
  to {
    opacity: 0;
    top: 120%;
  }
}

@keyframes capsuleFadeOut {
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes capsuleFadeIn {
  to {
    transform: translate(-50%, -50%) rotate(7deg) scale(1);
    opacity: 1;
  }
}

@keyframes capsuleToDown {
  50% {
    top: 65%;
    transform: translate(-50%, -50%) rotate(14deg) scale(1);
  }

  100% {
    top: 65%;
    transform: translate(-50%, -50%) rotate(-14deg) scale(1.2);
  }
}

@keyframes capsuleToUp {
  50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-7deg) scale(1.2);
  }

  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(7deg) scale(1);
  }
}

@keyframes waveBottom {
  to {
    bottom: -25px;
    opacity: 1;
  }
}

@keyframes capsuleHeadOpen {
  to {
    transform: rotate(-90deg) translate(0, -50px);
  }
}

@keyframes capsuleHeadClose {
  to {
    transform: rotate(0deg) translate(0);
  }
}

@keyframes swimmingLeaf {
  25% {
    transform: translate(0, -10px) rotate(5deg);
  }

  50% {
    transform: translate(0, -15px) rotate(10deg);
  }

  75% {
    transform: translate(0, -10px) rotate(5deg);
  }

  100% {
    transform: translate(0) rotate(0deg);
  }
}

@keyframes swimmingLeafTwo {
  25% {
    transform: translate(0, -10px) scale(0.7) rotate(5deg);
  }

  50% {
    transform: translate(0, -15px) scale(0.7) rotate(10deg);
  }

  75% {
    transform: translate(0, -10px) scale(0.7) rotate(5deg);
  }

  100% {
    transform: translate(0) scale(0.7) rotate(0deg);
  }
}

@keyframes slD {
  25% {
    transform: translate(0, -10px) rotate(5deg) scale(0.5);
  }

  50% {
    transform: translate(0, -15px) rotate(10deg) scale(0.5);
  }

  75% {
    transform: translate(0, -10px) rotate(5deg) scale(0.5);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(0.5);
  }
}

@keyframes sl3 {
  25% {
    transform: translate(0, -10px) rotate(5deg) scale(0.3);
  }

  50% {
    transform: translate(0, -15px) rotate(10deg) scale(0.3);
  }

  75% {
    transform: translate(0, -10px) rotate(5deg) scale(0.3);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(0.3);
  }
}

@keyframes sl6 {
  25% {
    transform: translate(0, -10px) rotate(5deg) scale(0.6);
  }

  50% {
    transform: translate(0, -15px) rotate(10deg) scale(0.6);
  }

  75% {
    transform: translate(0, -10px) rotate(5deg) scale(0.6);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(0.6);
  }
}

@keyframes sl8 {
  25% {
    transform: translate(0, -10px) rotate(5deg) scale(0.8);
  }

  50% {
    transform: translate(0, -15px) rotate(10deg) scale(0.8);
  }

  75% {
    transform: translate(0, -10px) rotate(5deg) scale(0.8);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(0.8);
  }
}

@keyframes videoPieces {
  to {
    margin-left: 40px;
    opacity: 1;
  }
}

@keyframes piecesOut {
  50% {
    top: -110px;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    top: -110px;
    opacity: 1;
  }
}

@keyframes piecesIn {
  100% {
    transform: scale(0.3);
    top: 60px;
    left: 0;
    opacity: 0;
  }
}

@keyframes middleFadeIn {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes rotating {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 0) rotate(360deg);
  }
}

@keyframes dropdownBody {
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes footerChild {
  to {
    opacity: 1;
  }
}

@keyframes displayFlex {
  to {
    opacity: 1;
    display: flex;
  }
}

@keyframes hide {
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes show {
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes displayInline {
  to {
    display: inline;
    opacity: 1;
  }
}

@keyframes rotatingSlider {
  to {
    transform: rotate(360deg);
  }
}

/* falling pieces animation */

@keyframes tab1 {
  0% {
    transform: rotate(10deg);
    bottom: 100%;
  }

  75% {
    bottom: 0;
    transform: rotate(0deg);
  }

  85% {
    bottom: 0;
    transform: rotate(2deg) translate(-25px, 0);
  }

  100% {
    bottom: 0;
    transform: rotate(0deg) translate(-50px, 0);
  }
}

@keyframes tab2 {
  0% {
    transform: rotate(50deg);
    bottom: 100%;
  }

  35% {
    transform: rotate(37deg);
    bottom: 50%;
  }

  75% {
    transform: rotate(37deg);
    bottom: 2px;
  }

  90% {
    transform: rotate(45deg);
    bottom: 0px;
  }

  100% {
    transform: rotate(37deg);
    bottom: 0px;
  }
}

@keyframes tab3 {
  0% {
    transform: rotate(-50deg);
    bottom: 100%;
  }

  70% {
    transform: rotate(-28deg);
    bottom: -10px;
  }

  75% {
    transform: rotate(-30deg);
    bottom: -10px;
  }

  100% {
    transform: rotate(-28deg);
    bottom: -10px;
  }
}

@media (min-width: 1920px) {
  @keyframes tab4 {
    0% {
      transform: rotate(10deg);
      bottom: 100%;
    }

    75% {
      bottom: 6%;
      transform: rotate(0deg);
    }

    85% {
      bottom: 6%;
      transform: rotate(0deg) translate(-25px, 0);
    }

    100% {
      bottom: 6%;
      transform: rotate(0deg) translate(-50px, 0);
    }
  }
}

@media (max-width: 1660px) {
  @keyframes tab4 {
    0% {
      transform: rotate(10deg);
      bottom: 100%;
    }

    75% {
      bottom: 7.5%;
      transform: rotate(0deg);
    }

    85% {
      bottom: 7.5%;
      transform: rotate(0deg) translate(-25px, 0);
    }

    100% {
      bottom: 7.5%;
      transform: rotate(0deg) translate(-50px, 0);
    }
  }
}

@media (min-width: 1920px) {
  @keyframes tab5 {
    0% {
      transform: rotate(-16.05deg);
      bottom: 100%;
    }

    75% {
      bottom: 10%;
      transform: rotate(-2.05deg);
    }

    85% {
      bottom: 10%;
      transform: rotate(-8.05deg);
    }

    100% {
      bottom: 10%;
      transform: rotate(-8.05deg);
    }
  }
}

@media (max-width: 1600px) {
  @keyframes tab5 {
    0% {
      transform: rotate(-16.05deg);
      bottom: 100%;
    }

    75% {
      bottom: 8.5%;
      transform: rotate(-2.05deg);
    }

    85% {
      bottom: 8.5%;
      transform: rotate(-8.05deg);
    }

    100% {
      bottom: 8.5%;
      transform: rotate(-8.05deg);
    }
  }
}

@media (min-width: 1920px) {
  @keyframes tab6 {
    0% {
      transform: rotate(-50deg);
      bottom: 150%;
    }

    70% {
      transform: rotate(-12deg);
      bottom: 9.5%;
    }

    75% {
      transform: rotate(-8deg);
      bottom: 9.5%;
    }

    100% {
      transform: rotate(-12deg);
      bottom: 9.5%;
    }
  }
}

@media (max-width: 1600px) {
  @keyframes tab6 {
    0% {
      transform: rotate(-50deg);
      bottom: 150%;
    }

    70% {
      transform: rotate(-12deg);
      bottom: 11.5%;
    }

    75% {
      transform: rotate(-8deg);
      bottom: 11.5%;
    }

    100% {
      transform: rotate(-12deg);
      bottom: 11.5%;
    }
  }
}

@keyframes tab7 {
  0% {
    transform: rotate(-9.33deg);
  }

  100% {
    transform: rotate(0deg) translate(5px, 0);
  }
}

@keyframes grinding {
  to {
    transform: translate(-25px, 0);
  }
}

@keyframes capsuleMobile {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(7deg);
  }
}

@keyframes footerIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes footerOut {
  to {
    transform: scale(0.3) translate(0, 500px);
    opacity: 0;
    width: 0px;
  }
}

@keyframes footerStep2 {
  to {
    bottom: 35%;
    width: 175px;
    height: 175px;
    border-radius: 50%;
  }
}

@keyframes footerStep3 {
  to {
    width: 340px;
    height: 340px;
    border-radius: 100px;
  }
}

@keyframes footerStep4 {
  to {
    bottom: 0;
    width: 100%;
    min-height: 360px;
    height: fit-content;
    border-radius: 100px 100px 0 0;
  }
}
